{% extends 'base.html.twig' %}

{% block main %}
    <div class="row justify-content-center p-3 p-lg-5">
        <div class="col-12 col-lg-10 p-4 box-custom">
            <h2 class="h3 border-bottom border-dark mb-3">{{user.firstname}} {{user.lastname}} - Définir mot de passe</h2>            
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}