{% extends 'base.html.twig' %}

{% block main %}
    <div class="row p-3 p-lg-5 justify-content-center">
        <div class="col-12 col-lg-10 p-3 box-custom">
            {% for framework in frameworks %}
            <h1 class="h2 border-bottom border-dark mb-3">{{framework.name}}</h1>
            {% for domain in framework.domains %}
                <h2 class="h3 mb-2">{{domain.code}} - {{domain.name}}</h2>
                {% for skill in domain.skills %}
                    <div class="skill-capsule mx-3 my-1 w-100">
                        <div class="skill-head d-flex flex-row justify-content-between">
                            <h3 class="h4 text-bold">{{skill.code}} {{skill.name}}</h3>
                        </div>
                        <div class="skill-boby ps-3">                       
                            {% for descriptor in skill.descriptors %}
                                <p>{{descriptor.description}}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            
        {% endfor %}
        </div>
    </div>
    
{% endblock %}